.movieInfo,
.commentWrapper,
.commentsWrapper {
  display: flex;
  flex-direction: column;
}

.headingMain,
.headingSecondary,
.headingUsername,
.paragraphComment {
  margin: 0;
}

.headingSecondary {
  color: #f3eba2;
}

.headingUsername,
.paragraphComment {
  text-align: left;
}

.commentWrapper {
  background-color: #333333;
  border-radius: 5px;
  padding: 5px;
}

.commentsWrapper {
  gap: 5px;
}
