hr {
  width: 100%;
  border: 1px solid;
  color: #f5e876;
}

.aboutWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMainHeading,
.aboutParagraph,
.aboutLibraryHeading {
  margin: 0;
}

.aboutParagraph {
  text-align: center;
  line-height: 20px;
}

.librariesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
